.Image{
    height: 55px;
    float: left;
    vertical-align: bottom;
}
.text{
    height: 55px;
    font-size: 33px;
    color: #929393;
    float: left;
    vertical-align: center;
}

.bg-light{
    background-color: #edeeef !important;
}

.navbar-text{
    padding-top: 0rem !important;
}