.App {
  text-align: center;
  margin-top: 7%;
  width: 75%;
  position: relative;
}

.gender{
  text-align: left;
  margin-left: 10px;
}
.jumbotron{
  background-color: white;
}

.row{
  margin-top: 5px;
}

h1{
  float: left;
}